@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.33);
}

.display {
  position: absolute;
  background-color: $light;
  color: $dark;
  border: 1px solid #666;
  text-align: left;
  font-size: 1rem;
  min-width: 300px;
  padding: 0;

  :global(.list-group-item) {
    display: flex;
    cursor: pointer;

    &.category {
      font-weight: bold;
    }

    &.sub {
      padding-left: 2.25rem;
    }
  }
}

.item {
  padding: 0.25em;
}

.invisible {
  visibility: hidden;
}
