
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

.column {
  flex-grow: 1;
  max-width: 420px;
  height: 100%;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

.scroll {
  flex-grow: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
