@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/utilities';

.list {
  max-width: 25rem;
  flex-grow: 1;

  .green {
    @include button-variant(#373, #373);
  }

  .yellow {
    @include button-variant(goldenrod, goldenrod);
  }

  .blue {
    @include button-variant(#33c, #33c);
  }

  .gray {
    background-color: gray;
    border-color: gray;
  }

  .status {
    display: flex;
    float: right;
    //@include gradient-radial(#ccc, #fff);
    @include gradient-y-three-colors(#fff, #ccc, 50%, #fff);
    border-radius: 1.5rem 0.25rem 0.25rem 1.5rem;
    margin: -0.325rem -0.7rem;
    //padding: 0 8pt 0 4pt;
    //height: 200%;
    i {
      padding: 4pt 4pt 4pt 8pt;
    }
  }
}

