
.list {
  position: relative;
  flex: 0 1 100%;
}

.student:global(.list-group-item) {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  transition: top 800ms;
  height: 4rem;
  padding: 0;
  cursor: pointer;
}

.name {
  flex: 0 1 100%;
  font-weight: 500;
}
