
.list {
  max-width: 25rem;
  flex-grow: 1;

  .green {
    background-color: green;
    border-color: darkgreen;
  }

  .status {
    // display: block;
    float: right;
    background-color: white;
    border-radius: 1.5rem 0.25rem 0.25rem 1.5rem;
    line-height: 1.5;
    margin: -0.325rem -0.7rem;
    padding: 0 8pt 0 4pt;
    // height: 100%;
  }
}

